<h2 mat-dialog-title>Demo del sistema</h2>

<mat-dialog-content class="demo-dialog-content">
  <mat-tab-group>
    
    <!-- Tab Español -->
    <mat-tab label="🎥 Español">
      <div class="tab-section">
        <mat-dialog-content>
          <video width="100%" height="auto" controls>
            <source [src]="videoUrl" type="video/mp4" />
            Tu navegador no soporta video.
          </video>
        </mat-dialog-content>
      </div>
    </mat-tab>
    
    <!-- Tab Inglés -->
    <mat-tab label="🎥 English">
      <div class="tab-section">
        <mat-dialog-content>
          <video width="100%" height="auto" controls>
            <source [src]="videoUrlEnglish" type="video/mp4" />
            Tu navegador no soporta video.
          </video>
        </mat-dialog-content>
      </div>
    </mat-tab>
    
    <!-- Tab Credenciales -->
    <mat-tab label="🔑 Credenciales">
      <div class="tab-section">
        <h3>Credenciales de prueba</h3>
        <p><b>Admin:</b> adminemo.com / 12345</p>
        <p><b>User:</b> userdemo.com / 12345</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
