<!DOCTYPE html>
<mat-card
  style="
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  "
>
  <button mat-button (click)="openSnackBar('Hello', 'Close', 'error-snackbar')">
    NEGROS
  </button>
  <button mat-button (click)="openSnackBar('Hello', 'Close', 'blue-snackbar')">
    ERROR DE NEGROS
  </button>

  <button mat-button (click)="notificationService.error('error')">Error</button>

  <button mat-button (click)="notificationService.success('success')">
    Success
  </button>
  <!--este componente no me servira-->
  <button mat-button (click)="showConfirm()">Confirm</button>

  <button mat-button (click)="showAlert('Informacion del error')">Alert</button>
</mat-card>
