<!DOCTYPE html>
<h1 mat-dialog-title>Modificar Usuario</h1>
<div mat-dialog-content>
  {{
    contentDialog === ""
      ? "¿Desea Modificar a " + indicator + "?"
      : contentDialog + indicator + "?"
  }}
  <br />
</div>

<form class="principalForm" #UserForm="ngForm" (ngSubmit)="ChangeName()">
  <mat-form-field class="default_input_css">
    <mat-label>Nombre</mat-label>
    <input
      matInput
      name="name"
      [(ngModel)]="object.User.name"
      placeholder="Nueva Informacion"
      required
      pattern="[a-zA-Z0-9]*"
      #nameInput="ngModel"
    />
  </mat-form-field>
  <div
    class="text-danger"
    *ngIf="nameInput.invalid && (nameInput.dirty || UserForm.submitted)"
  >
    <div *ngIf="nameInput.hasError('required')">
      Nombre de usuario es obligatorio
    </div>
    <div *ngIf="nameInput.hasError('pattern')">
      No se permiten caracteres especiales ni espacios
    </div>
  </div>
  <mat-form-field class="password_input">
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      name="password"
      [(ngModel)]="object.User.password"
      placeholder="Ej.3juan"
      pattern="[a-zA-Z0-9]*"
      
      #passwordInput="ngModel"
    />
  </mat-form-field>
  <mat-form-field class="password_input" style="width: 44% !important">
    <mat-label>Confirme Contraseña</mat-label>
    <input
      matInput
      name="confirmPassword"
      [(ngModel)]="object.User.confirmPassword"
      placeholder="Confirmar"
      pattern="[a-zA-Z0-9]*"
      #passwordInput2="ngModel"
    />
  </mat-form-field>
  <div
    class="text-danger"
    *ngIf="
      hasPasswordError(passwordInput, passwordInput2) &&
      (passwordInput.dirty || passwordInput2.dirty || UserForm.submitted)
    "
  >
    <div *ngIf="!object.User.password && !object.User.confirmPassword">
      Introduzca la contraseña en ambos inputs
    </div>
    <div
      *ngIf="
        passwordInput.hasError('pattern') || passwordInput2.hasError('pattern')
      "
    >
      No se permiten caracteres especiales ni espacios
    </div>
    <div *ngIf="!passwordsMatch()">Las contraseñas no coinciden</div>
  </div>
  <mat-form-field class="default_input_css">
    <mat-label>Correo Electronico</mat-label>
    <input
      matInput
      name="email"
      [(ngModel)]="object.User.email"
      placeholder="Ej.user868@gmail.com"
      required
      pattern="[a-zA-Z0-9 @ .]*"
      #mailInput="ngModel"
    />
  </mat-form-field>
  <div
    class="text-danger"
    *ngIf="mailInput.invalid && (mailInput.dirty || UserForm.submitted)"
  >
    <div *ngIf="mailInput.hasError('required')">
      Correo electronico es obligatorio
    </div>
    <div *ngIf="mailInput.hasError('pattern')">
      No se permiten caracteres especiales ni espacios
    </div>
  </div>
  <div class="autocomplete">
    <app-auto-complete
      className="brand"
      [text]="information"
      [arrays]="arrayRolName"
      (data)="insertData($event)"
      style="width: 97%"
    ></app-auto-complete>
  </div>
</form>
<mat-slide-toggle
  class="permission_slider"
  [(ngModel)]="SuperPermissions"
  [ngModelOptions]="{ standalone: true }"
  (change)="toggleSuperUser()"
  style="margin-top: 5%; transform: scale(1.22); margin-left: 6%"
  >Super Usuario</mat-slide-toggle
>
<div class="permissions_Sliders_Section">
  <mat-slide-toggle
    class="permission_slider"
    [(ngModel)]="object.Permissions.driver"
    [ngModelOptions]="{ standalone: true }"
    (change)="unToggleSuperUser()"
    >Driver</mat-slide-toggle
  >
  <mat-slide-toggle
    class="permission_slider"
    [(ngModel)]="object.Permissions.admin"
    [ngModelOptions]="{ standalone: true }"
    (change)="unToggleSuperUser()"
    >Admin</mat-slide-toggle
  >
  <mat-slide-toggle
    class="permission_slider"
    [(ngModel)]="object.Permissions.permissionaire"
    [ngModelOptions]="{ standalone: true }"
    (change)="unToggleSuperUser()"
    >Permissionario</mat-slide-toggle
  >
  <mat-slide-toggle
    class="permission_slider"
    [(ngModel)]="object.Permissions.unit"
    [ngModelOptions]="{ standalone: true }"
    (change)="unToggleSuperUser()"
    >Unidad</mat-slide-toggle
  >
  <mat-slide-toggle
    class="permission_slider"
    [(ngModel)]="object.Permissions.sinister"
    [ngModelOptions]="{ standalone: true }"
    (change)="unToggleSuperUser()"
    >Siniestros</mat-slide-toggle
  >
  <mat-slide-toggle
    class="permission_slider"
    [(ngModel)]="object.Permissions.extraData"
    [ngModelOptions]="{ standalone: true }"
    (change)="unToggleSuperUser()"
    >Informacion Extra(Admins)</mat-slide-toggle
  >
  <mat-slide-toggle
    class="permission_slider"
    [(ngModel)]="object.Permissions.changeLog"
    [ngModelOptions]="{ standalone: true }"
    (change)="unToggleSuperUser()"
    >Historial de cambios</mat-slide-toggle
  >
  <mat-slide-toggle
    class="permission_slider"
    [(ngModel)]="object.Permissions.pdf"
    [ngModelOptions]="{ standalone: true }"
    (change)="unToggleSuperUser()"
    >Generador de Pdf's</mat-slide-toggle
  >
  <div class="state_section">
    <mat-slide-toggle
      class="state_slider"
      [(ngModel)]="object.User.active"
      [ngModelOptions]="{ standalone: true }"
      >Activo</mat-slide-toggle
    >
    <mat-slide-toggle
      class="state_slider"
      [(ngModel)]="object.User.bloqued"
      [ngModelOptions]="{ standalone: true }"
      >Bloqueado</mat-slide-toggle
    >
  </div>
</div>
<div mat-dialog-actions style="margin-bottom: 2%">
  <mat-divider></mat-divider>
  <div style="position: absolute">
    <br />
    <button
      mat-raised-button
      mat-dialog-close
      color="primary"
      class="button_dialog_red_extraCSS"
    >
      Cancelar
    </button>
  </div>
  <button
    mat-raised-button
    color="primary"
    (click)="ChangeName()"
    class="text-button-greenFinal"
    [disabled]="!UserForm.valid"
  >
    Actualizar
  </button>
</div>
