<!DOCTYPE html>
<h1 mat-dialog-title>Editar datos de {{ indicator }}</h1>
<div mat-dialog-content>
  {{
    contentDialog === ""
      ? "¿Desea modificar a " + indicator + " " + nameObj + "?"
      : contentDialog + indicator + " " + nameObj
  }}
  <br />
</div>

<form class="principalForm" #form="ngForm">
  <mat-form-field class="example-full-width" style="width: 90%;">
    <mat-label>Nombre</mat-label>
    <input
      matInput
      cdkFocusInitial
      name="name"
      [(ngModel)]="object.name"
      placeholder="informacion a cambiar"
      required
      pattern="[a-zA-Z0-9 @ . ñ áíéó]*"
      #nameInput="ngModel"
    />
  </mat-form-field>
  <div
    class="text-danger-singleInputs"
    *ngIf="nameInput.invalid && (nameInput.dirty || form.submitted)"
  >
    <div *ngIf="nameInput.hasError('required')">
      Nombre de usuario es obligatorio
    </div>
    <div *ngIf="nameInput.hasError('pattern')">
      No se permiten caracteres especiales
    </div>
  </div>
  <div mat-dialog-actions class="actions-section" style="margin-bottom: 2%;margin-top: -3%;">
    <div style="width: 100%;">
      <button mat-raised-button mat-dialog-close color="primary" class="buttonred_new">
        Cancelar</button
      ><br />
    </div>
    <div style="width: 100%;">
      <button
        mat-raised-button
        mat-dialog-close
        color="primary"
        [disabled]="!form.valid"
        class="button-green"
        (click)="ChangeName()"
      >
        Actualizar
      </button>
    </div>
  </div>
</form>
