<!DOCTYPE html>
<!--FINAL-->
<div
  class="ContainerDivs"
  style="
    background-color: rgba(182, 174, 174, 0.079);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 15px;
    height: 810px;
    width: 99%;
    margin-top: -5px;
  "
>
  <div
    class="CardSerch"
    style="
      width: 42%;
      height: 800px;
      background-color: var(--backCards);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding-left: 0.5%;
      padding-right: 0.5%;
    "
  >
    <div
      class="headerCard"
      style="
        color: rgba(255, 255, 255, 0.7);
        font-family: Roboto, sans-serif;
        letter-spacing: 2px;
        padding-left: 4%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 2%;
        display: flex;
        justify-content: space-between;
      "
    >
      Unidades automovilisticas
      <mat-icon (click)="consultarUnit(0)" class="button-search"
        >add_circle_outline</mat-icon
      >
    </div>
    <div class="bodyCard" style="width: 100%; height: 20px; height: 100%">
      <div
        class="renglon2"
        style="
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: flex-start;
          margin-left: 1%;
          width: 100%;
          flex-wrap: wrap;
        "
      >
        <app-auto-complete
          className="brand"
          [text]="'Numero'"
          [info]="units.ecoNumber"
          (data)="units.ecoNumber = $event"
          style="width: 23%"
          #inputname
        ></app-auto-complete>
        <car-autoComplete
          className="brand"
          [text]="'Marca de la unidad'"
          [info]="units.brandName"
          [brand]="brands"
          [arrays]="brandsName"
          [typeinput]="1"
          (data)="changeSelection($event, 'brand')"
          *ngIf="loadBr"
          style="width: 30.2%"
        ></car-autoComplete>
        <!-- [arrays]="modelsName"  -->
        <car-autoComplete
          className="brand"
          [text]="'Modelo de la unidad'"
          [info]="units.modelName"
          [models]="modelsName"
          [brandSelected]="units.idBrand"
          [typeinput]="2"
          (data)="changeSelection($event, 'model')"
          *ngIf="loadMd"
          style="width: 41.2%"
        ></car-autoComplete>
      </div>
      <div class="renglon1">
        <app-auto-complete
          className="brand"
          [text]="'año del modelo'"
          [info]="units.yearModel"
          (data)="units.yearModel = $event"
          style="width: 23%"
          #inputname
        ></app-auto-complete>

        <app-auto-complete
          className="brand"
          [text]="'color de la unidad'"
          [info]="units.color"
          (data)="units.color = $event"
          style="width: 30%"
          #inputname
        ></app-auto-complete>
        <app-auto-complete
          className="brand"
          [text]="'placas'"
          [info]="units.plate"
          (data)="units.plate = $event"
          style="width: 41.5%"
          #inputname
        ></app-auto-complete>
      </div>
      <div
        class="renglon3"
        style="
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: flex-start;
          margin-left: 1%;
          width: 100%;
          flex-wrap: wrap;
        "
      >
        <app-auto-complete
          className="brand"
          [text]="'Serie de la unidad'"
          [info]="units.serie"
          (data)="units.serie = $event"
          #inputname
          style="width: 54.5%"
        ></app-auto-complete>
        <app-auto-complete
          className="brand"
          [text]="'clave del Motor'"
          [info]="units.motor"
          (data)="units.motor = $event"
          style="width: 41.2%"
          #inputname
        ></app-auto-complete>
      </div>
      <div
        class="renglon2"
        style="
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: flex-start;
          margin-left: 1%;
          width: 100%;
          flex-wrap: wrap;
        "
      >
        <app-auto-complete
          className="brand"
          [text]="'administrador'"
          [info]="units.adminName"
          [arrays]="adminsName"
          (data)="changeSelection($event, 'admin')"
          *ngIf="loadAd"
          style="width: 97%"
        ></app-auto-complete>
      </div>
      <div
        class="renglon2"
        style="
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: flex-start;
          margin-left: 1%;
          width: 100%;
          flex-wrap: wrap;
        "
      >
        <app-datepicker-date
          [isDisabled]="false"
          [actualDate]="units.expInsurance"
          (date)="units.expInsurance = $event"
          [text]="'Vencimiento de seguro'"
          style="width: 97%"
        ></app-datepicker-date>
      </div>
      <div class="renglon1">
        <app-datepicker-date
          [actualDate]="units.registerDate"
          [text]="'Fecha de registro'"
          style="width: 48%"
        ></app-datepicker-date>
        <br />
        <app-datepicker-date
          [actualDate]="units.lastModDate"
          [text]="'Ultima modificacion'"
          style="width: 46.5%"
        ></app-datepicker-date>
      </div>
    </div>
    <div
      class="footerCard"
      style="
        align-self: flex-end;
        width: 100%;
        height: 60px;
        margin-top: auto;
        margin-bottom: 2%;
      "
    >
      <br />
      <mat-divider
        style="margin-left: 1%; width: 98%; margin-top: -3%"
      ></mat-divider>
      <mat-card-actions
        align="start"
        style="
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          margin-top: 9px;
          margin-left: 4%;
        "
      >
        <button mat-button color="primary" class="text-button-red">
          Eliminar
        </button>
        <br />
      </mat-card-actions>
      <mat-card-actions align="end" class="buttons-actionDelete">
        <button
          mat-button
          (click)="grabar()"
          *ngIf="ActSave"
          color="primary"
          class="text-button-green"
          style="position: absolute; margin-top: -36px; margin-left: 30%"
        >
          Guardar
        </button>

        <button
          mat-button
          color="primary"
          (click)="actualizar()"
          *ngIf="!ActSave"
          class="text-button-green"
          style="position: absolute; margin-top: -36px; margin-left: 30%"
        >
          Actualizar
        </button>
        <br />
        <br />
      </mat-card-actions>
    </div>
  </div>
  <div
    class="div-table"
    style="
      background-color: rgba(0, 0, 0, 0.179);
      width: 56%;
      height: 800px;
      max-height: 800px;
      border-radius: 12px;
    "
  >
    <div class="tabla-dataPRUEBA">
      <app-table
        [data]="listUnits"
        [columns]="tableColumns"
        [config]="tableConfig"
        (select)="onSelect($event)"
        (action)="onTableAction($event)"
        *ngIf="loadT"
      ></app-table>
    </div>
  </div>
</div>
