<!DOCTYPE html>
//idUnit
//ecoNumber
dateEvent
//insuranceS
//typeInsurance
//workShop
//adminS
//driverS
//crashCounterPart        ES SU NOMBRE

//personInvolvedS
//insuranceAplicationS
//winOrLooseS 
//observations
typeSinisterS


street1
street2
street3
settlementS

<app-datepicker-date
[isDisabled]="false"
[actualDate]="sinister.dateEvent"
[text]="'Fecha de nacimiento'"
className="brand"
style="width: 48%"
></app-datepicker-date>

 <app-auto-complete
            [text]="'Colonia'"
            [info]="Driver.settlementS"
            [arrays]="settlementName"
            (data)="guardarDireccion($event)"
            className="brand"
            style="width: 30%"
          ></app-auto-complete>


          <app-auto-complete
          [text]="'Calle principal'"
          [info]="Driver.street1"
          [arrays]="streetName"
          (data)="guardarStreet($event, 1)"
          className="brand"
          style="width: 35%"
        ></app-auto-complete>
        
        <app-auto-complete
        [text]="'Entre la calle'"
        [info]="Driver.street2"
        [arrays]="streetName"
        (data)="guardarStreet($event, 2)"
        className="brand"
        style="width: 30%"
      ></app-auto-complete>

      <app-auto-complete
        [text]="'y la Calle'"
        [info]="Driver.street3"
        [arrays]="streetName"
        (data)="guardarStreet($event, 3)"
        className="brand"
        style="width: 30%"
      ></app-auto-complete>

      <app-auto-complete
            className="brand"
            [text]="'administrador'"
            [info]="Driver.adminName"
            [arrays]="adminsName"
            (data)="guardarAdmin($event)"
            className="brand"
            style="width: 97%"
          ></app-auto-complete>

              <div
        class="renglon2"
        style="
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          justify-content: flex-start;
          margin-left: 1%;
          width: 100%;
          flex-wrap: wrap;
        "
      >
             </div>

             <div
             class="renglon1"
             style="
               display: flex;
               flex-direction: row;
               gap: 10px;
               align-items: center;
               justify-content: flex-start;
               margin-left: 1%;
               width: 100%;
               flex-wrap: wrap;
             "
           >
             </div>    
             <div
             class="renglon3"
             style="
               display: flex;
               flex-direction: row;
               gap: 10px;
               align-items: center;
               justify-content: flex-start;
               margin-left: 1%;
               width: 100%;
               flex-wrap: wrap;
             "
           ></div>