<!DOCTYPE html>

<section class="tech-stack">
  <h2 class="tech-title">Tecnologías utilizadas</h2>
  <div class="tech-logos">
    
    <div class="tech-card">
      <img src="assets/images/technologies/Angular.png" alt="Angular">
      <h3 class="tech-name">Angular</h3>
      <p class="tech-desc">Framework SPA usado para construir toda la interfaz del sistema.</p>
    </div>

    <div class="tech-card">
      <img src="assets/images/technologies/NetFreamwork.png" alt=".NET Framework" width="120" height="120">
      <h3 class="tech-name">.NET Framework</h3>
      <p class="tech-desc">API RESTful para lógica, validaciones y conexión con SQL Server.</p>
    </div>

    <div class="tech-card">
      <img src="assets/images/technologies/i.png" alt="SQL Server">
      <h3 class="tech-name">SQL Server</h3>
      <p class="tech-desc">Base de datos relacional donde se almacenan todos los registros.</p>
    </div>

    <div class="tech-card">
      <img src="assets/images/technologies/Microsoft_Azure.svg.png" alt="Azure" width="120" height="120">
      <h3 class="tech-name">Azure</h3>
      <p class="tech-desc">Alojamiento de aplicaciones, servicios en la nube y de imágenes y videos.</p>
    </div>

  </div>
</section>
