<!DOCTYPE html>

<section class="tech-stack">
  <h2 class="tech-title">Tecnologías utilizadas</h2>
  <div class="tech-logos">
    
    <div class="tech-card">
      <img src="assets/images/technologies/Angular.png" alt="Angular">
      <h3 class="tech-name">Angular</h3>
      <p class="tech-desc">Framework SPA usado para construir toda la interfaz del sistema.</p>
    </div>

    <div class="tech-card">
      <img src="assets/images/technologies/NetFreamwork.png" alt=".NET Framework">
      <h3 class="tech-name">.NET Framework</h3>
      <p class="tech-desc">API RESTful para lógica, validaciones y conexión con SQL Server.</p>
    </div>

    <div class="tech-card">
      <img src="assets/images/technologies/i.png" alt="SQL Server">
      <h3 class="tech-name">SQL Server</h3>
      <p class="tech-desc">Base de datos relacional donde se almacenan todos los registros.</p>
    </div>

    <div class="tech-card">
      <img src="assets/images/technologies/firebase.png" alt="Firebase">
      <h3 class="tech-name">Firebase</h3>
      <p class="tech-desc">Uso de almacenamiento de archivos como imágenes y PDFs de licencias.</p>
    </div>

  </div>
</section>
