.tech-stack {
  margin-top: 3rem;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 2.8rem;
}

.tech-title {
  font-size: 2.8rem;
  color: #8bc34a;
  margin-bottom: 1.5rem;
}

.tech-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.tech-logos img:hover {
  transform: scale(1.1);
}

.tech-logos img {
  width: 220px;
  height: 180px;
  object-fit: contain;
  filter: drop-shadow(1px 2px 20px rgba(123, 255, 0, 0.138));
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .tech-logos img {
    /* width: 70px;
    height: 70px; */
    width: 220px;
    height: 180px;
    object-fit: contain;
    filter: drop-shadow(1px 2px 20px rgba(123, 255, 0, 0.229));
    transition: transform 0.3s ease;
  }

  .tech-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .tech-logos {
    flex-direction: column;
    gap: 2.5rem;
  }

  .tech-logos img {
     width: 180px;
    height: 140px;
  }
}
