<!DOCTYPE html>
<!--* Street y model -->
<div *ngIf="typeDialog == false">
  <mat-icon
    style="    transform: scale(1.5);
    border: none;
    box-shadow: none !important;"
     (click)="openDialogInsertBig('300ms', '300ms', text, name, information, indicator, numIndicator,object,array)"
    >note_add</mat-icon
  >
</div>
<!--* SAVE -->
<div *ngIf="typeDialog == true">
  <mat-icon
    style="    transform: scale(1.5);
    border: none;
    box-shadow: none !important;"
    (click)="openDialogInsert('300ms', '300ms', text, name, information, indicator, numIndicator,object)"
    >note_add</mat-icon
  >
</div>
