<!DOCTYPE html>
<h1 mat-dialog-title>Agregar Usuario NEGRO</h1>
<div mat-dialog-content>
  {{
    contentDialog === ""
      ? "¿Desea agregar a " + indicator + "?"
      : contentDialog + indicator + "?"
  }}
  <br />
</div>

<form class="principalForm" #UserForm="ngForm"  (ngSubmit)="ChangeName()">
  <mat-form-field class="default_input_css">
    <mat-label>Nombre</mat-label>
    <input
      matInput
      name="name"
      [(ngModel)]="object.User.name"
      placeholder="Ej.Kevin"
      required
      pattern="[a-zA-Z0-9]*"
      #nameInput="ngModel"
    />
  </mat-form-field>
  <div
    class="text-danger"
    *ngIf="nameInput.invalid && (nameInput.dirty || UserForm.submitted)"
  >
    <div *ngIf="nameInput.hasError('required')">
      Nombre de usuario es obligatorio
    </div>
    <div *ngIf="nameInput.hasError('pattern')">
      No se permiten caracteres especiales ni espacios
    </div>
  </div>
  <mat-form-field class="password_input">
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      name="password"
      [(ngModel)]="object.User.password"
      placeholder="Ej.3juan"
      pattern="[a-zA-Z0-9]*"
      required
      #passwordInput="ngModel"
    />
  </mat-form-field>
  <mat-form-field class="password_input" style="width: 44% !important">
    <mat-label>Confirme Contraseña</mat-label>
    <input
      matInput
      name="confirmPassword"
      [(ngModel)]="object.User.confirmPassword"
      placeholder="Confirmar"
      pattern="[a-zA-Z0-9]*"
      required
      #passwordInput2="ngModel"
    />
  </mat-form-field>
  <div
    class="text-danger"
    *ngIf="
      hasPasswordError(passwordInput, passwordInput2) &&
      (passwordInput.dirty || passwordInput2.dirty || UserForm.submitted)
    "
  >
    <div *ngIf="!object.User.password && !object.User.confirmPassword">
      Introduzca la contraseña en ambos inputs
    </div>
    <div
      *ngIf="passwordInput.hasError('pattern') || passwordInput2.hasError('pattern')"
    >
      No se permiten caracteres especiales ni espacios
    </div>
    <div *ngIf="!passwordsMatch()">Las contraseñas no coinciden</div>
  </div>
  <mat-form-field class="default_input_css">
    <mat-label>Correo Electronico</mat-label>
    <input
      matInput
      name="email"
      [(ngModel)]="object.User.email"
      placeholder="Ej.name595@gmail.com"
      required
      pattern="[a-zA-Z0-9 @ .]*"
      #mailInput="ngModel"
    />
  </mat-form-field>
  <div
    class="text-danger"
    *ngIf="mailInput.invalid && (mailInput.dirty || UserForm.submitted)"
  >
    <div *ngIf="mailInput.hasError('required')">
      Correo electronico es obligatorio
    </div>
    <div *ngIf="mailInput.hasError('pattern')">
      No se permiten caracteres especiales ni espacios
    </div>
  </div>
  <div class="autocomplete">
    <app-auto-complete
      className="brand"
      name="rol"
      [text]="indicator"
      [info]="information"
      [arrays]="arrayRolName"
      (data)="insertData($event)"
      style="width: 97%"
    ></app-auto-complete>
  </div>

  <mat-slide-toggle
    class="permission_slider"
    [(ngModel)]="SuperPermissions"
    [ngModelOptions]="{ standalone: true }"
    (change)="toggleSuperUser()"
    style="
      margin-bottom: 1%;
      margin-top: 5%;
      transform: scale(1.12);
      margin-left: -17%;
      width: 67%;
    "
    >Super Usuario</mat-slide-toggle
  >
  <div class="permissions_Sliders_Section">
    <mat-slide-toggle
      class="permission_slider"
      [(ngModel)]="object.Permissions.driver"
      [ngModelOptions]="{ standalone: true }"
      (change)="unToggleSuperUser()"
      >Driver</mat-slide-toggle
    >
    <mat-slide-toggle
      class="permission_slider"
      [(ngModel)]="object.Permissions.admin"
      [ngModelOptions]="{ standalone: true }"
      (change)="unToggleSuperUser()"
      >Admin</mat-slide-toggle
    >
    <mat-slide-toggle
      class="permission_slider"
      [(ngModel)]="object.Permissions.permissionaire"
      [ngModelOptions]="{ standalone: true }"
      (change)="unToggleSuperUser()"
      >Permissionario</mat-slide-toggle
    >
    <mat-slide-toggle
      class="permission_slider"
      [(ngModel)]="object.Permissions.unit"
      [ngModelOptions]="{ standalone: true }"
      (change)="unToggleSuperUser()"
      >Unidad</mat-slide-toggle
    >
    <mat-slide-toggle
      class="permission_slider"
      [(ngModel)]="object.Permissions.sinister"
      [ngModelOptions]="{ standalone: true }"
      (change)="unToggleSuperUser()"
      >Siniestros</mat-slide-toggle
    >
    <mat-slide-toggle
      class="permission_slider"
      [(ngModel)]="object.Permissions.extraData"
      [ngModelOptions]="{ standalone: true }"
      (change)="unToggleSuperUser()"
      >Informacion Extra(Admins)</mat-slide-toggle
    >
    <mat-slide-toggle
      class="permission_slider"
      [(ngModel)]="object.Permissions.pdf"
      [ngModelOptions]="{ standalone: true }"
      (change)="unToggleSuperUser()"
      >Generador de Pdf's</mat-slide-toggle
    >
  </div>
  <div mat-dialog-actions style="width: 100%">
    <mat-divider></mat-divider>
    <div style="position: absolute; width: 14%;">
      <br />
      <button
        mat-raised-button
        mat-dialog-close
        color="primary"
        class="button_dialog_red_extraCSS"
      >
        Cancelar
      </button>
    </div>
    <button
      mat-raised-button
      class="text-button-greenFinal"
      [disabled]="!UserForm.valid || object.Permissions.idRole===4"
      style="
        position: absolute;
        margin-top: -27px;
        margin-left: 55%;
        width: 38% !important;
        height: 46px !important;
      "
    >
      Guardar
    </button>
  </div>
</form>
