<!DOCTYPE html>
<h1 mat-dialog-title>Agregar Usuario NEGRO</h1>
<div mat-dialog-content>
  {{
    contentDialog === ""
      ? "¿Desea agregar a " + indicator + "?"
      : contentDialog + indicator + "?"
  }}
  <br />
</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input
      matInput
      [(ngModel)]="object.User.name"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Nueva Informacion"
    />
  </mat-form-field>
  <mat-form-field class="password_input">
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      [(ngModel)]="object.User.name"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Nueva Informacion"
    />
  </mat-form-field>
  <mat-form-field class="password_input">
    <mat-label>Confirme Contraseña</mat-label>
    <input
      matInput
      [(ngModel)]="object.User.name"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Nueva Informacion"
    />
  </mat-form-field>
</form>
<div class="autocomplete">
  <app-auto-complete
    className="brand"
    [text]="indicator"
    [info]="information"
    [arrays]="arrayRolName"
    (data)="insertData($event)"
    style="width: 97%"
  ></app-auto-complete>
</div>
<div mat-dialog-actions>
  <div style="margin-top: -5%; margin-left: 59px; position: absolute">
    <button mat-button mat-dialog-close class="text-button-red">Cancelar</button
    ><br />
  </div>
  <div style="margin-top: -5%; margin-left: 73%">
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      color="primary"
      class="text-button-green"
      (click)="ChangeName()"
    >
      Guardar
    </button>
  </div>
</div>