<!DOCTYPE html>
<h1 mat-dialog-title>Agregar {{ indicator }}</h1>
<div mat-dialog-content>
  {{
    contentDialog === ""
      ? "¿Desea crear un nuevo " + indicator + " " + nameObj + "?"
      : contentDialog + indicator + "?"
  }}
</div>

<form class="principalForm" #form="ngForm">
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input
      matInput
      name="name"
      [(ngModel)]="object.name"
      placeholder="introducza el nuevo dato"
      required
      pattern="[a-zA-Z0-9 ]*"
      #nameInput="ngModel"
    />
  </mat-form-field>
  <div
    class="text-danger-singleInputs"
    style="margin-top: -3.7%"
    *ngIf="nameInput.invalid && (nameInput.dirty || form.submitted)"
  >
    <div *ngIf="nameInput.hasError('required')">
      Nombre de usuario es obligatorio
    </div>
    <div *ngIf="nameInput.hasError('pattern')">
      No se permiten caracteres especiales
    </div>
  </div>
  <div mat-dialog-actions style="width: 100%; margin-top: 1%">
    <div style="margin-top: -1%; position: absolute">
      <button mat-raised-button mat-dialog-close color="primary" class="button_dialog_red_extraCSS">
        Cancelar</button
      ><br />
    </div>
    <div style="margin-top: -7%">
      <button
        mat-raised-button
        mat-dialog-close
        color="primary"
        [disabled]="!form.valid"
        class="text-button-greenFinal"
        (click)="ChangeName()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
