<!DOCTYPE html>
<h1 mat-dialog-title>Agregar {{indicator}}</h1>
<div mat-dialog-content>
  {{
    contentDialog === ""
      ? "¿Desea agregar a " + indicator + "?"
      : contentDialog + indicator + "?"
  }}
  <br />
</div>

<form class="principalForm" #form="ngForm">
  <mat-form-field class="input-edit-short" style="width: 93%">
    <mat-label>Nombre</mat-label>
    <input
      matInput
      cdkFocusInitial
      name="name"
      [(ngModel)]="object.name"
      placeholder="informacion a cambiar"
      required
      pattern="[a-zA-Z0-9 ]*"
      #nameInput="ngModel"
    />
  </mat-form-field>
  <div
    class="text-danger-Big" 
    *ngIf="nameInput.invalid && (nameInput.dirty || form.submitted)"
  >
    <div *ngIf="nameInput.hasError('required')">
      Nombre de usuario es obligatorio
    </div>
    <div *ngIf="nameInput.hasError('pattern')">
      No se permiten caracteres especiales
    </div>
  </div>
<div class="autocomplete" style="margin-bottom: 1% !important;">
  <app-auto-complete
    className="brand"
    name="rol"
    [text]="indicator"
    [info]="information"
    [arrays]="arrayName"
    (data)="insertData($event)"
    style="width: 97%"
  ></app-auto-complete>
</div>
<div mat-dialog-actions class="actions-section">
  <div style="width: 39%;">
    <button  mat-raised-button mat-dialog-close class="buttonred_new">Cancelar</button
    ><br />
  </div>
    <div style="width: 39%;">
      <button
        mat-raised-button
        mat-dialog-close
        cdkFocusInitial
        color="primary"
        [disabled]="!form.valid || object.idBrand!==-1"
        class="button-green"
        (click)="ChangeName()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>