.titulo {
    /* font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black; */
    font-size: 43px;
    font-weight: 600;
    font-family: 'montserrat', sans-serif;
    margin-bottom: 20px;
    color: black;
}
.principal {
    /* background-color: #f8f9fa;
    height: 86vh;
    display: flex;
    width: 63%;
    flex-direction: row;
    align-content: center;
    justify-content: center;    
    flex-wrap: wrap;
    border-radius: 25px; */
    background-color: #f8f9fa;
    height: 86vh;
    display: flex;
    width: 63%;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 25px;
    align-items: center;
}
.logoLogin {
    /* width: 20%; */
    transform: scale(1.8);
    /* margin-right: 40px; */
}
.logInInput {
    width: 100%;
    margin-top: 20px;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
}