header {
  /*Modificado de 80 a 50*/
  /*height 50px o 8%*/
  width: 100%;
  height: 50px;
  background: #1b1e18d6;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
  /* margin-left: 70px; */
  justify-content: space-between;
}
.Buttons__LogOut{
  margin-right: 3.5%;
  margin-bottom: 0.1%;
}
.text-button-greenFinal{
  --mat-outlined-button-state-layer-color: #ea1111!important;
width: fit-content;
}
.menu__side {
  /*Modificado de 80 a 70*/
  /*Modificado de 20 a 18 BORDER RIGHT
      1___ 1b1e18d6
      2___ 14191447
      2.2__2e3b2e21
      */
  width: 70px;
  height: 100%;
  /* background: #8b0101be; */
  background: #202220;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  /* border-right: 18px solid #7c0404be; */
  border-right: 14px solid #2e3b2e21;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.header{
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);}
.options__menu a:hover {
  color: #ccf070;
}
.options__menu .option {
  padding: 16px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.options__menu .option i {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.options__menu .option h4 {
  font-weight: 300;
  cursor: pointer;
}

a.selected {
  color: #abdd94;
}

.selected:before {
  content: "";
  width: 3px;
  height: 80%;
  background: rgb(151, 203, 109);
  position: absolute;
  top: 10%;
  left: -30px;
}
.mat-icon{
  border: 1px solid #ccc0!important;
  margin-left: -9px;
  scale: 1.14;
  width: 26px;
  box-shadow: none!important;
  
}
.collapsible:before, .collapsible:before {
  content: "";
  /* margin-left: 370px; */
}
.logo{
  margin-top: 7px;
  scale: 1.2 !important;
}


/*  */
.body_move {
  margin-left: 250px;
}
.body{
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@media screen and (max-width: 760px) {
  .body_move {
    margin-left: 0px;
  }

  .menu__side_move {
    width: 80px;
    left: -80px;
  }
  .icon__menu {
   margin-left:145px!important;
  }
}
