<!DOCTYPE html>
<!--Menu y barra navegacion aqui-->

<header  class="header">
  <div class="icon__menu" [style.margin-left]="iconButtonWidth">
    <i class="collapsible" id="btn_open" (click)="toggleMenu()" > <mat-icon>menu</mat-icon></i>
  </div>
  <div class="Buttons__LogOut">
    <!-- <button mat-stroked-button class="text-button-greenFinal" (click)="logOut()">Salir</button> -->
    <app-yes-no-dialog
    (data)="closeSession()"
    [text]="'Desea cerrar sesion?'"
    [IconButton]="true"
  ></app-yes-no-dialog>
  </div>
</header>

<!--Menu lateral-->
<div class="menu__side" id="menu_side" [style.width]="menuWidth">
  <div class="name__page">
    <i class="logo"><mat-icon>location_on</mat-icon></i>
    <h4>TaxisRocio</h4>
  </div>

  <div class="options__menu">
    <a [routerLink]="['/home']" [ngClass]="{ selected: isActive('/home') }">
      <div class="option">
        <i title="Home"><mat-icon>home</mat-icon></i>
        <h4>Home</h4>
      </div>
    </a>

    <a
      [routerLink]="['/drivers']"
      [ngClass]="{ selected: isActive('/drivers') }"
    >
      <div class="option">
        <i class=""><mat-icon>person</mat-icon></i>
        <h4>Drivers</h4>
      </div>
    </a>

    <a [routerLink]="['/admins']" [ngClass]="{ selected: isActive('/admins') }">
      <div class="option">
        <i class=""><mat-icon>supervisor_account</mat-icon> </i>
        <h4>Admins</h4>
      </div>
    </a>

    <a
      [routerLink]="['/permission']"
      [ngClass]="{ selected: isActive('/permission') }"
    >
      <div class="option">
        <i class=""><mat-icon>assignment_ind</mat-icon></i>
        <h4>Permissionaires</h4>
      </div>
    </a>
    <a [routerLink]="['/units']" [ngClass]="{ selected: isActive('/units') }">
      <div class="option">
        <i><mat-icon>local_taxi</mat-icon></i>
        <h4>Units</h4>
      </div>
    </a>

    <a [routerLink]="['/sinisters']" [ngClass]="{ selected: isActive('/sinisters') }">
      <div class="option">
        <i class=""><mat-icon>car_crash</mat-icon>
        </i>
        <h4>Sinisters</h4>
      </div>
    </a>
    <a [routerLink]="['/extraData']" [ngClass]="{ selected: isActive('/extraData') }">
      <div class="option">
        <i class=""><mat-icon> local_library</mat-icon>
        </i>
        <h4>Extras</h4>
      </div>
    </a>
    <a [routerLink]="['/documents']" [ngClass]="{ selected: isActive('/documents') }">
      <div class="option">
        <i class=""><mat-icon>picture_as_pdf</mat-icon>
        </i>
        <h4>PDF</h4>
      </div>
    </a>
 
    <!-- 
      <mat-icon> rate_review</mat-icon>
      <mat-icon> local_library</mat-icon>
      <mat-icon>grid_on</mat-icon>
    -->
  </div>
</div>

