html {
  --mat-menu-item-label-text-color: white;
  --mat-menu-item-icon-color: #89f795bf !important;
  --mat-menu-item-hover-state-layer-color: rgba(255, 255, 255, 0.08);
  --mat-menu-item-focus-state-layer-color: rgba(255, 255, 255, 0.08);
  --mat-menu-container-color: #424242;
}
header {
  width: 100%;
  height: 50px;
  background: #1b1e18d6;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
  /* margin-left: 70px; */
  justify-content: space-between;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

}
.icon__menu {
  width: 250px;
  display: flex;
  transform: translateX(10px);
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.mat-mdc-menu-item .mat-icon {
  margin-left: 4px;
}
.image-container {
  display: flex;
  align-items: center;
  margin-right: 8%;
  width: calc(fit-content + 40px);
}
.username {
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden;
  text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto truncado */
  max-width: 76px;
  width: fit-content;
}

.image-container img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 7px;
}
.Buttons__LogOut {
  margin-right: 7.9%;
  font-family: Roboto, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  width: fit-content + 4rem;
  align-items: center;
  justify-content: space-between;
}
.button_menu {
  width: 200px;
  height: 27%;
}
/* *menu */
.mat-mdc-menu-content {
  border-radius: 16px;
  width: 196px;
  background-color: green;
}
div#mat-menu-panel-0 {
  border-radius: 16px;
  width: 196px;
}
.Buttons__LogOut .mat-icon {
  font-size: 25px;
  height: 25px;
  min-width: 35px; /* 25px + 10px extra */
  width: auto;
  padding: 0 5px;
  transition: all 0.3s ease;
  --mat-icon-hover-color: red;
}
.text-button-greenFinal {
  --mat-outlined-button-state-layer-color: #ea1111 !important;
  width: fit-content;
}
.menu__side {
  width: 70px;
  height: 100%;
  background: #202220;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 14px solid #2e3b2e21;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.options__menu a:hover {
  color: #ccf070;
}
.options__menu .option {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.options__menu .option i {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.options__menu .option h4 {
  font-weight: 300;
  cursor: pointer;
}

a.selected {
  color: #abdd94;
}

.selected:before {
  content: "";
  width: 3px;
  height: 80%;
  background: rgb(151, 203, 109);
  position: absolute;
  top: 10%;
  left: -30px;
}
.mat-icon {
  border: 1px solid #ccc0 !important;
  margin-left: -9px;
  scale: 1.14;
  width: 26px;
  box-shadow: none !important;
}
.collapsible:before,
.collapsible:before {
  content: "";
}
.logo {
  margin-top: 7px;
  scale: 1.2 !important;
}

/*  */
.body_move {
  margin-left: 250px;
}
.body {
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@media screen and (max-width: 760px) {
  .body_move {
    margin-left: 0px;
  }

  .header i {
    margin-right: 40px;
    margin-left: 10px;
  }
  .button__menu::after {
    margin-left: 20% !important;
  }
}
/* para telefonos chicos */
@media screen and (max-width: 500px) {
  .Buttons__LogOut {
    margin-right: 2rem;
    width: 6rem;
  }
}
