<!DOCTYPE html>
<div class="buscador">
  <mat-form-field class="input-filtro" *ngIf="tableConfig?.showFilter">
    <mat-label>Buscar</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Introduzca el valor a buscar"
      #input
    />
  </mat-form-field>
  <!-- [object]="row" -->
  <app-insert-dialog
    (data)="onUpdate(1)"
    [text]="'Desea Agregar un nuevo registro de '"
    [typeDialog]="typeDialog"
    [indicator]="indicator"
    [numIndicator]="numIndicator"
    [array]="array"
    [style]="'margin-left: 2.5%;transform: scale(1.3);'"
    class="add_icon"
  >
  </app-insert-dialog>
</div>

<table mat-table #table [dataSource]="dataSource">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null; onSelect()"
        [checked]="selection.isSelected(row)"
        [aria-label]="checkboxLabel(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let row">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
        "
      >
        <app-edit-dialog
          (data)="onEdit(row)"
          [text]="'Desea modificar la informacion de '"
          [name]="row.id + '?'"
          [object]="row"
          [typeDialog]="typeDialog"
          [information]="row.name"
          [indicator]="indicator"
          [numIndicator]="numIndicator"
          [array]="array"
          [style]="'transform: scale(1.2); margin-left:5%;'"
        ></app-edit-dialog>

        <app-yes-no-dialog
          (data)="onDelete(row)"
          [text]="'Desea borrar el registro de ' + indicator + ' '"
          [name]="row.name + '?'"
          [IconButton]="true"
          [style]="'transform: scale(1.2); margin-right: 6%;'"
        ></app-yes-no-dialog>
      </div>
    </td>
  </ng-container>

  <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column.def">
    <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
    <td mat-cell *matCellDef="let row">{{ row | columnValue : column }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableDisplayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableDisplayColumns" class="custom-row"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [colSpan]="tableDisplayColumns.length">
      No hay informacion que coincida con el dato
      <strong
        ><em>"{{ currentFilterValue }}"</em></strong
      >
    </td>
  </tr>
</table>

<ng-container *ngIf="tableConfig?.isPaginable">
  <mat-paginator
    [pageSizeOptions]="[10, 11, 15]"
    showFirstLastButtons
    aria-label="Selecciona uno de estos datos"
  >
  </mat-paginator>
</ng-container>
