<!DOCTYPE html>
<!-- Control value: {{ myControl.value || "empty" }} -->

<!-- <h5 style="color: red; font-size: 15px">{{ info }}</h5> -->
<form class="example-form">
  <mat-form-field class="example-full-width {{ className }}">
    <mat-label>{{ text }}</mat-label>
    <input
      type="text"
      placeholder="{{ myControl.value || 'Pick One' }}"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [value]="info"
      (ngModelChange)="brandModified ? changeBrand() : changeName()"
      class="{{ className }}"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
