.example-form {
  min-width: 60px;
  width: 100%;
}
.example-full-width {
  min-width: 70%;
  width: 100% ;
}

.name {
  position: fixed;
  width: 500px !important;
  background-color: #940e0e59 !important;
}

/* Establece la variable CSS */
:root {
  --my-custom-color: var(
    --color,
    #eb1e1e
  );
}

/* Utiliza la variable en tu estilo */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--my-custom-color) !important;
}
.defaultClass .mat-mdc-text-field-wrapper, .defaultClass .mdc-text-field--filled:not(.mdc-text-field--disabled) {
width: 100%!important;
}
