<!DOCTYPE html>
<mat-tab-group>
  <mat-tab label="Usuarios">
    <ng-template matTabContent>
      <div class="tablaData">
        <app-tableExtraData
          [indicator]="'Usuarios'"
          [data]="UserTable"
          [columns]="columnsUsers.columns"
          [config]="tableConfigUser"
          [typeDialog]="false"
          [numIndicator]="9"
          [array]="user"
          (action)="onTableAction($event)"
        ></app-tableExtraData>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Colonias">
    <ng-template matTabContent>
      <div class="tablaData">
        <app-tableExtraData
          [indicator]="'Colonia'"
          [data]="settlements"
          [columns]="tableColumns.columns"
          [config]="tableConfig"
          [numIndicator]="1"
          (action)="onTableAction($event)"
        ></app-tableExtraData>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Calles">
    <ng-template matTabContent>
      <div class="tablaData">
        <app-tableExtraData
          [indicator]="'Calles'"
          [data]="streets"
          [columns]="tableColumns.columns"
          [config]="tableConfig"
          [numIndicator]="2"
          [typeDialog]="true"
          [array]="settlements"
          (action)="onTableAction($event)"
        ></app-tableExtraData>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Marcas de los Carros">
    <ng-template matTabContent>
      <div class="tablaData">
        <app-tableExtraData
          [indicator]="'Marca del Carro'"
          [data]="brands"
          [columns]="tableColumns.columns"
          [config]="tableConfig"
          [numIndicator]="3"
          (action)="onTableAction($event)"
        ></app-tableExtraData>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Modelos de los carros">
    <ng-template matTabContent>
      <div class="tablaData">
        <app-tableExtraData
          [indicator]="'Marca del Carro'"
          [data]="models"
          [columns]="columnsModels.columns"
          [config]="tableConfig"
          [numIndicator]="4"
          [typeDialog]="false"
          [array]="brands"
          (action)="onTableAction($event)"
        ></app-tableExtraData>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Aseguradoras">
    <ng-template matTabContent>
      <div class="tablaData">
        <app-tableExtraData
          [indicator]="'Seguro del carro'"
          [data]="insurers"
          [columns]="tableColumns.columns"
          [config]="tableConfig"
          [numIndicator]="8"
          (action)="onTableAction($event)"
        ></app-tableExtraData>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Relaciones Personales">
    <ng-template matTabContent>
      <app-tableExtraData
        [indicator]="'Relaciones Personales'"
        [data]="relationships"
        [columns]="tableColumns.columns"
        [config]="tableConfig"
        [numIndicator]="5"
        (action)="onTableAction($event)"
      ></app-tableExtraData>
    </ng-template>
  </mat-tab>
  <mat-tab label="Status de los Chofereres">
    <ng-template matTabContent>
      <div class="tablaData">
        <app-tableExtraData
          [indicator]="'Status del Chofer'"
          [data]="status"
          [columns]="tableColumns.columns"
          [config]="tableConfig"
          [numIndicator]="6"
          (action)="onTableAction($event)"
        ></app-tableExtraData>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Tipos de Siniestros">
    <ng-template matTabContent>
      <div class="tablaData">
        <app-tableExtraData
          [indicator]="'Tipos de Siniestros'"
          [data]="typeSinister"
          [columns]="tableColumns.columns"
          [config]="tableConfig"
          [numIndicator]="7"
          (action)="onTableAction($event)"
        ></app-tableExtraData>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<!-- <ul>
  <li><strong>brandCar</strong></li>
  <li><strong>modelCar</strong></li>
  <li><strong>relationShip</strong></li>
  <li><strong>status</strong></li>
  <li><strong>sinisterType</strong></li>
  <li><strong>insuranceName</strong></li>
  <li><strong>insurers</strong></li>
</ul> -->
