<!DOCTYPE html>
<!--este es un componente el header-->
<app-header></app-header>

<div class="div-content">
  <router-outlet></router-outlet>

  <!--botones de pruebas-->
  <br />
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    id="contact-settlement"
  >
    colonia
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let settlement of listSettlement">
      <ul>
        <li>
          <a class="dropdown-item" href="#">{{ settlement.name }}</a>
        </li>
      </ul>
    </li>
  </ul>

  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    id="contact-settlement"
  >
    Streets
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let street of listStreet">
      <ul>
        <li>
          <a class="dropdown-item" href="#">{{ street.name }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
