<!DOCTYPE html>
<div
  class="ContainerDivs"
  style="
    background-color: #2a2d28;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 700px;
    width: 100%;
    margin-top: -5px;
  "
>
  <div
    class="headerCard"
    style="
      padding-top: 1%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
    "
  >
    <!--AQUI VA EL HEADER Y SU CONTENT-->
    <h1 mat-dialog-title>Contacto del Conductor</h1>
    <mat-dialog-content
      >Aqui va todo el contenido del dialogo</mat-dialog-content
    >
  </div>
  <div
    class="bodyCard"
    style="width: 100%; height: 73%; margin-left: 20px; margin-right: 20px"
  >
    <!--AQUI VA EL BODY y-->
    <div
      class="renglon2"
      style="
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        margin-left: 1%;
        width: 100%;
        flex-wrap: wrap;
      "
    >
      <app-auto-complete
        style="width: 7px !important"
        className="Brand"
        [text]="'Nombres'"
        [info]="contactDriver.name"
        (data)="contactDriver.name = $event"
        style="width: 72%"
      ></app-auto-complete>
      <app-auto-complete
        className="brand"
        [text]="'Relacion'"
        [arrays]="relationshipName"
        (data)="guardarContact($event)"
        [info]="contactDriver.relationS"
        style="width: 25%"
      ></app-auto-complete>
    </div>
    <div
      class="renglon1"
      style="
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        margin-left: 1%;
        width: 100%;
        flex-wrap: wrap;
      "
    >
      <app-auto-complete
        className="brand"
        [text]="'Apellido Paterno '"
        [info]="contactDriver.lm1"
        (data)="contactDriver.lm1 = $event"
        style="width: 45%"
      ></app-auto-complete>
      <app-auto-complete
        class="brand"
        [text]="'Apellido Materno '"
        [info]="contactDriver.lm2"
        (data)="contactDriver.lm2 = $event"
        style="width: 43.5%"
      ></app-auto-complete>
    </div>
    <div
      class="renglon3"
      style="
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        margin-left: 1%;
        width: 100%;
        flex-wrap: wrap;
      "
    >
      <app-auto-complete
        [arrays]="settlementName"
        [text]="'Colonia'"
        [info]="contactDriver.settlementS"
        (data)="guardarDireccion($event)"
        className="brand"
        style="width: 76.5%"
      ></app-auto-complete>

      <app-auto-complete
        [text]="'Telefono'"
        [info]="contactDriver.phone"
        (data)="contactDriver.phone = $event"
        className="brand"
        style="width: 20.7%"
      ></app-auto-complete>
    </div>
    <div
      class="renglon1"
      style="
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        margin-left: 1%;
        width: 100%;
        flex-wrap: wrap;
      "
    >
      <app-auto-complete
        [arrays]="streetName"
        [text]="'Calle 1'"
        [info]="contactDriver.street1"
        (data)="guardarStreet($event, 1)"
        className="brand"
        style="width: 98.6%"
      ></app-auto-complete>
    </div>
    <div
      class="renglon2"
      style="
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        margin-left: 1%;
        width: 100%;
        flex-wrap: wrap;
      "
    >
      <app-auto-complete
        [arrays]="streetName"
        [text]="'Calle 2'"
        [info]="contactDriver.street2"
        (data)="guardarStreet($event, 2)"
        className="brand"
        style="width: 98.6%"
      ></app-auto-complete>
    </div>
    <div
      class="renglon3"
      style="
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        margin-left: 1%;
        width: 100%;
        flex-wrap: wrap;
      "
    >
      <app-auto-complete
        [arrays]="streetName"
        [text]="'Calle 3'"
        [info]="contactDriver.street3"
        (data)="guardarStreet($event, 3)"
        className="brand"
        style="width: 98.6%"
      ></app-auto-complete>
    </div>
  </div>
  <div
    class="footerCard"
    style="
      align-self: flex-end;
      width: 100%;
      height: 60px;
      margin-top: auto;
      margin-bottom: 2%;
    "
  >
    <!--AQUI VA EL FOOOTER Y SU CONTENT-->
    <div mat-dialog-actions>
      <div style="margin-left: 8%; margin-top: -4%;">
        <button
          mat-raised-button
          mat-dialog-close
          color="primary"
          class="text-button-redFinal"
          style="margin-left: -5% !important; width: 224% !important"
        >
          Cerrar</button
        ><br />
      </div>
      <div style="margin-left: 48%">
        <button
          mat-raised-button
          *ngIf="idContact == 0"
          (click)="grabar()"
          color="primary"
          class="text-button-greenFinal"
          style="
            position: absolute;
            margin-top: -42px;
            margin-left: 2%;
            width: 25% !important;
            height: 50px !important;
            --mat-protected-button-ripple-color: rgb(4 77 27) !important;
          "
        >
          Guardar
        </button>
        <button
          mat-raised-button
          (click)="actualizar()"
          color="primary"
          class="text-button-greenFinal"
          *ngIf="idContact !== 0"
          style="
            position: absolute;
            margin-top: -42px;
            margin-left: 2%;
            width: 25% !important;
            height: 50px !important;
            --mat-protected-button-ripple-color: rgb(4 77 27) !important;
          "
        >
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
