<!DOCTYPE html>
<main>
  <div
    class="ContainerDivs"
    style="
      background-color: rgba(182, 174, 174, 0.079);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      align-items: stretch;
      border-radius: 15px;
      height: 810px;
      width: 99%;
      margin-top: -5px;
    "
  >
    <div
      class="CardSerch"
      style="
        width: 46%;
        height: 800px;
        background-color: var(--backCards);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-left: 0.5%;
        padding-right: 0.5%;
      "
    >
      <div
        class="headerCard"
        style="
          color: rgba(255, 255, 255, 0.7);
          font-family: Roboto, sans-serif;
          letter-spacing: 2px;
          padding-left: 4%;
          padding-right: 3%;
          padding-top: 3%;
          padding-bottom: 2%;
          display: flex;
          justify-content: space-between;
        "
      >
        Permisionarios
        <mat-icon (click)="consultarPermission(0)" class="button-search"
          >add_circle_outline</mat-icon
        >
      </div>
      <div class="bodyCard" style="width: 100%; height: 20px; height: 100%">
        <div
          class="renglon1"
          style="
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <app-auto-complete
            [text]="'Nombres'"
            [info]="permissionaire.name"
            (data)="permissionaire.name = $event"
            className="brand"
            style="width: 97.1%"
          ></app-auto-complete>
        </div>
        <div
          class="renglon2"
          style="
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <app-auto-complete
            [text]="'Apellido Paterno'"
            [info]="permissionaire.lm1"
            (data)="permissionaire.lm1 = $event"
            className="brand"
            style="width: 48%"
          ></app-auto-complete>
          <app-auto-complete
            [text]="'Apellido Materno'"
            [info]="permissionaire.lm2"
            (data)="permissionaire.lm2 = $event"
            className="brand"
            style="width: 48%"
          ></app-auto-complete>
        </div>
        <div
          class="renglon3"
          style="
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <app-auto-complete
            [text]="'Telefono'"
            [info]="permissionaire.phone"
            (data)="permissionaire.phone = $event"
            className="brand"
            style="width: 25%"
          ></app-auto-complete>
          <app-auto-complete
            [text]="'Numero Exterior'"
            [info]="permissionaire.extNumber"
            (data)="permissionaire.extNumber = $event"
            className="brand"
            style="width: 21.9%"
          ></app-auto-complete>

          <app-auto-complete
            [text]="'Colonia'"
            [info]="permissionaire.settlementS"
            [arrays]="settlementName"
            (data)="guardarDireccion($event)"
            *ngIf="isLoadedSt"
            className="brand"
            style="width: 48%"
          ></app-auto-complete>
        </div>

        <div
          class="renglon2"
          style="
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <app-auto-complete
            [text]="'Calle principal'"
            [info]="permissionaire.street1"
            [arrays]="streetName"
            (data)="guardarStreet($event, 1)"
            *ngIf="isLoadedSt"
            className="brand"
            style="width: 35%"
          ></app-auto-complete>

          <app-auto-complete
            [text]="'Entre la calle'"
            [info]="permissionaire.street2"
            [arrays]="streetName"
            (data)="guardarStreet($event, 2)"
            *ngIf="isLoadedSt"
            className="brand"
            style="width: 30%"
          ></app-auto-complete>

          <app-auto-complete
            [text]="'y la Calle'"
            [info]="permissionaire.street3"
            [arrays]="streetName"
            (data)="guardarStreet($event, 3)"
            *ngIf="isLoadedSt"
            className="brand"
            style="width: 30%"
          ></app-auto-complete>
        </div>
        <div
          class="renglon1"
          style="
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <app-datepicker-date
            [isDisabled]="false"
            [actualDate]="permissionaire.birth"
            (date)="permissionaire.birth = $event"
            [text]="'Fecha de nacimiento'"
            className="brand"
            style="width: 97%"
          ></app-datepicker-date>
        </div>
        <div
          class="renglon3"
          style="
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <app-datepicker-date
            [isDisabled]="true"
            [actualDate]="permissionaire.registerD"
            [text]="'Fecha de ingreso'"
            className="brand"
            style="width: 48%"
          ></app-datepicker-date>
          <app-datepicker-date
            [isDisabled]="true"
            [actualDate]="permissionaire.lastModDate"
            [text]="'Fecha de ultima modificacion'"
            className="brand"
            style="width: 48%"
          ></app-datepicker-date>
        </div>
      </div>
      <div
        class="footerCard"
        style="
          align-self: flex-end;
          width: 100%;
          height: 60px;
          margin-top: auto;
          margin-bottom: 2%;
        "
      >
        <br />
        <mat-divider
          style="margin-left: 1%; width: 98%; margin-top: -3%"
        ></mat-divider>
        <mat-card-actions
          align="start"
          style="
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            margin-top: 9px;
            margin-left: 4%;
          "
        >
          <app-yes-no-dialog
            (data)="onDelete(permissionaire)"
            [text]="'Desea borrar el registro de el administrador'"
            [name]="permissionaire.id + '?'"
            [IconButton]="false"
          ></app-yes-no-dialog>
          <br />
        </mat-card-actions>
        <mat-card-actions align="end" class="buttons-actionDelete">
          <button
            mat-button
            (click)="grabar()"
            *ngIf="ActSave"
            color="primary"
            class="text-button-green"
            style="position: absolute; margin-top: -46px; margin-left: 34%"
          >
            Guardar
          </button>
          <button
            mat-button
            color="primary"
            (click)="actualizar()"
            *ngIf="!ActSave"
            class="text-button-green"
            style="position: absolute; margin-top: -46px; margin-left: 34%"
          >
            Actualizar
          </button>
          <br />
          <br />
        </mat-card-actions>
      </div>
    </div>
    <div
      class="div-table"
      style="
        background-color: rgba(0, 0, 0, 0.179);
        width: 53%;
        height: 800px;
        max-height: 800px;
        border-radius: 12px;
      "
    >
      <div class="tabla-dataPRUEBA">
        <app-table
          [data]="listPermissionaire"
          [columns]="tableColumns"
          [config]="tableConfig"
          (select)="onSelect($event)"
          (action)="onTableAction($event)"
          *ngIf="loadT"
        ></app-table>
      </div>
    </div>
  </div>
</main>
