<!DOCTYPE html>
<main>
  <div class="ContainerDivs">
    <!-- Tarjeta de formulario -->
    <div class="CardSerch">
      <!-- Header -->
      <div class="headerCard">
        Permisionarios
        <mat-icon (click)="consultarPermission(0)" class="button-search">
          add_circle_outline
        </mat-icon>
      </div>

      <!-- Body -->
      <div class="bodyCard">
        <!-- Nombre -->
        <div class="renglon">
          <app-auto-complete
            class="input-full"
            [text]="'Nombres'"
            [info]="permissionaire.name"
            (data)="permissionaire.name = $event"
            className="brand"
          ></app-auto-complete>
        </div>

        <!-- Apellidos -->
        <div class="renglon">
          <app-auto-complete
            class="input-half"
            [text]="'Apellido Paterno'"
            [info]="permissionaire.lm1"
            (data)="permissionaire.lm1 = $event"
            className="brand"
          ></app-auto-complete>

          <app-auto-complete
            class="input-half"
            [text]="'Apellido Materno'"
            [info]="permissionaire.lm2"
            (data)="permissionaire.lm2 = $event"
            className="brand"
          ></app-auto-complete>
        </div>

        <!-- Teléfono / Número exterior / Colonia -->
        <div class="renglon">
          <app-auto-complete
            class="input-third"
            [text]="'Teléfono'"
            [info]="permissionaire.phone"
            (data)="permissionaire.phone = $event"
            className="brand"
          ></app-auto-complete>

          <app-auto-complete
            class="input-small"
            [text]="'Número Exterior'"
            [info]="permissionaire.extNumber"
            (data)="permissionaire.extNumber = $event"
            className="brand"
          ></app-auto-complete>

          <app-auto-complete
            class="input-half"
            [text]="'Colonia'"
            [info]="permissionaire.settlementS"
            [arrays]="settlementName"
            (data)="guardarDireccion($event)"
            className="brand"
          ></app-auto-complete>
        </div>

        <!-- Calles -->
        <div class="renglon">
          <app-auto-complete
            class="input-third"
            [text]="'Calle principal'"
            [info]="permissionaire.street1"
            [arrays]="streetName"
            (data)="guardarStreet($event, 1)"
            className="brand"
          ></app-auto-complete>

          <app-auto-complete
            class="input-third"
            [text]="'Entre la calle'"
            [info]="permissionaire.street2"
            [arrays]="streetName"
            (data)="guardarStreet($event, 2)"
            className="brand"
          ></app-auto-complete>

          <app-auto-complete
            class="input-third"
            [text]="'y la Calle'"
            [info]="permissionaire.street3"
            [arrays]="streetName"
            (data)="guardarStreet($event, 3)"
            className="brand"
          ></app-auto-complete>
        </div>

        <!-- Fechas -->
        <div class="renglon">
          <app-datepicker-date
            class="input-full"
            [isDisabled]="false"
            [actualDate]="permissionaire.birth"
            (date)="permissionaire.birth = $event"
            [text]="'Fecha de nacimiento'"
            className="brand"
          ></app-datepicker-date>
        </div>

        <div class="renglon">
          <app-datepicker-date
            class="input-half"
            [isDisabled]="true"
            [actualDate]="permissionaire.registerD"
            [text]="'Fecha de ingreso'"
            className="brand"
          ></app-datepicker-date>

          <app-datepicker-date
            class="input-half"
            [isDisabled]="true"
            [actualDate]="permissionaire.lastModDate"
            [text]="'Fecha de última modificación'"
            className="brand"
          ></app-datepicker-date>
        </div>
      </div>

      <!-- Footer -->
      <div class="footerCard">
        <mat-divider></mat-divider>
        <mat-card-actions class="actions">
          <button
            mat-raised-button
            (click)="ActSave ? grabar() : actualizar()"
            color="primary"
            class="text-button-greenFinal"
          >
            {{ ActSave ? "Guardar" : "Actualizar" }}
          </button>

          <app-yes-no-dialog
            variant="danger"
            (data)="onDelete(permissionaire)"
            [title]="'Borrar permisionario'"
            [text]="'¿Seguro que deseas borrar '"
            [name]="permissionaire.name + '?' || 'un desconocido?'"
            [IconButton]="false"
          ></app-yes-no-dialog>
        </mat-card-actions>
      </div>
    </div>

    <!-- Tabla -->
    <div class="div-table">
      <div class="tabla-dataPRUEBA">
        <app-table
          [data]="listPermissionaire"
          [columns]="tableColumns.columns"
          [config]="tableConfig"
          (select)="onSelect($event)"
          (action)="onTableAction($event)"
        ></app-table>
      </div>
    </div>
  </div>
</main>
