.container {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  background: #302d2d;
  border-radius: 15px;
  box-shadow: -11px 14px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  height: 10%;
}
.color {
  color: #fff!important;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.form-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  align-self: flex-end;
}
text{
color : #ff0000!important;
}

@media screen and (min-width: 760px) {
*{
font-size: large;
}
}
mat-form-field app-auto-complete {
  width: 100%!important;
  margin-left: 1%!important;
}

button {
  align-self: flex-end;
  width: 100%!important;
}

.PDFClass .defaultClass{
  max-width: 100%!important;
  background-color: red!important;
}

.defaultClass .mat-mdc-text-field-wrapper, .defaultClass .mdc-text-field--filled:not(.mdc-text-field--disabled) {
width: 100%!important;
}
