<!DOCTYPE html>
<main>
  <div
    class="ContainerDivs"
    style="
      background-color: rgba(182, 174, 174, 0.079);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      align-items: stretch;
      border-radius: 15px;
      height: 810px;
      width: 99%;
      margin-top: -5px;
    "
  >
    <div
      class="CardSerch"
      style="
        width: 49%;
        height: 800px;
        background-color: var(--backCards);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-left: 0.5%;
        padding-right: 0.5%;
      "
    >
      <div
        class="headerCard"
        style="
          color: rgba(255, 255, 255, 0.7);
          font-family: Roboto, sans-serif;
          letter-spacing: 2px;
          padding-left: 4%;
          padding-right: 3%;
          padding-top: 3%;
          padding-bottom: 2%;
          display: flex;
          justify-content: space-between;
        "
      >
        Conductores
        <mat-icon (click)="consultarDriver(0)" class="button-search"
          >add_circle_outline</mat-icon
        >
      </div>
      <div class="bodyCard" style="width: 100%; height: 20px; height: 100%">
        <div
          class="renglon2"
          style="
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <!-- este es uno -->
          <app-auto-complete
            [text]="'Nombres'"
            [info]="Driver.name"
            (data)="Driver.name = $event"
            className="brand"
            style="width: 97%"
          ></app-auto-complete>
        </div>
        <div
          class="renglon1"
          style="
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <!-- este es uno -->
          <app-auto-complete
            [text]="'Apellido Paterno'"
            [info]="Driver.lm1"
            (data)="Driver.lm1 = $event"
            className="brand"
            style="width: 48%"
          ></app-auto-complete>
          <app-auto-complete
            [text]="'Apellido Materno'"
            [info]="Driver.lm2"
            (data)="Driver.lm2 = $event"
            className="brand"
            style="width: 48%"
          ></app-auto-complete>
        </div>
        <div
          class="renglon3"
          style="
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <!-- este es uno -->
          <app-auto-complete
            [text]="'Contraseña'"
            [info]="Driver.password"
            (data)="Driver.password = $event"
            className="brand"
            style="width: 48%"
          ></app-auto-complete>
          <app-auto-complete
            [text]="'Telefono'"
            [info]="Driver.phone"
            (data)="Driver.phone = $event"
            className="brand"
            style="width: 17%"
          ></app-auto-complete>
          <app-auto-complete
            [text]="'Colonia'"
            [info]="Driver.settlementS"
            [arrays]="settlementName"
            (data)="guardarDireccion($event)"
            className="brand"
            style="width: 30%"
          ></app-auto-complete>
        </div>
        <div
          class="renglon2"
          style="
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <!-- este es uno -->
          <app-auto-complete
            [text]="'Calle principal'"
            [info]="Driver.street1"
            [arrays]="streetName"
            (data)="guardarStreet($event, 1)"
            className="brand"
            style="width: 35%"
          ></app-auto-complete>

          <app-auto-complete
            [text]="'Entre la calle'"
            [info]="Driver.street2"
            [arrays]="streetName"
            (data)="guardarStreet($event, 2)"
            className="brand"
            style="width: 30%"
          ></app-auto-complete>

          <app-auto-complete
            [text]="'y la Calle'"
            [info]="Driver.street3"
            [arrays]="streetName"
            (data)="guardarStreet($event, 3)"
            className="brand"
            style="width: 30%"
          ></app-auto-complete>
        </div>
        <div
          class="renglon2"
          style="
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <app-auto-complete
            className="brand"
            [text]="'administrador'"
            [info]="Driver.adminName"
            [arrays]="adminsName"
            (data)="guardarAdmin($event)"
            className="brand"
            style="width: 97%"
          ></app-auto-complete>
        </div>
        <div
          class="renglon3"
          style="
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <app-auto-complete
            [text]="'Status'"
            [arrays]="statusName"
            [info]="Driver.statusS"
            (data)="guardarStatus($event)"
            className="brand"
            style="width: 48%"
          ></app-auto-complete>

          <app-auto-complete
            [text]="'Numero de casa'"
            [info]="Driver.extNumber"
            (data)="Driver.extNumber = $event"
            className="brand"
            style="width: 17%"
          ></app-auto-complete>
          <app-auto-complete
            [text]="'Pago de ingreso'"
            [info]="Driver.ingressPay"
            (data)="Driver.ingressPay = $event"
            className="brand"
            style="width: 30%"
          ></app-auto-complete>
        </div>
        <div
          class="renglon1"
          style="
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <app-datepicker-date
            [isDisabled]="false"
            [actualDate]="Driver.birth"
            [text]="'Fecha de nacimiento'"
            className="brand"
            style="width: 48%"
          ></app-datepicker-date>
          <br />
          <app-datepicker-date
            [isDisabled]="false"
            [actualDate]="Driver.licenseEx"
            [text]="'Vencimiento de licencia'"
            className="brand"
            style="width: 48%"
          ></app-datepicker-date>
          <br />

          <br />
        </div>
        <div
          class="renglon1"
          style="
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1%;
            width: 100%;
            flex-wrap: wrap;
          "
        >
          <app-datepicker-date
            [isDisabled]="true"
            [actualDate]="Driver.hireDate"
            [text]="'Fecha de ingreso'"
            className="brand"
            style="width: 48%"
          ></app-datepicker-date>
          <app-datepicker-date
            [isDisabled]="true"
            [actualDate]="Driver.lastModD"
            [text]="'Fecha de ultima modificacion'"
            className="brand"
            style="width: 48%"
          ></app-datepicker-date>
        </div>
        <app-contact-dialog
          [arraySt]="streets"
          [arrayCol]="settlements"
          [streetName]="streetName"
          [settlementName]="settlementName"
          [idContact]="Driver.contactDrivers"
          className="brand"
        ></app-contact-dialog>
      </div>
      <div
        class="footerCard"
        style="
          align-self: flex-end;
          width: 100%;
          height: 60px;
          margin-top: auto;
          margin-bottom: 2%;
        "
      >
        <br />
        <mat-divider
          style="margin-left: 1%; width: 98%; margin-top: -3%"
        ></mat-divider>
        <mat-card-actions
          align="start"
          style="
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            margin-top: 40px;
            margin-left: 4%;
          "
        >
          <app-yes-no-dialog
            (click)="(eliminar)"
            [text]="'Desea borrar el registro de la unidad'"
            [name]="Driver.name + ' ' + Driver.lm1 + ' ' + Driver.lm2 + '?'"
            [IconButton]="false"
          ></app-yes-no-dialog>
          <br />
        </mat-card-actions>
        <mat-card-actions align="end" class="buttons-actionDelete">
          <button
            mat-raised-button
            (click)="grabar()"
            *ngIf="ActSave"
            color="primary"
            class="text-button-greenFinal"
            style="
              position: absolute;
              margin-top: -55px;
              margin-left: 32%;
              width: 10% !important;
              height: 46px !important;
              --mat-protected-button-ripple-color: rgb(7 101 37) !important;
            "
          >
            Guardar
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="actualizar()"
            *ngIf="!ActSave"
            class="text-button-greenFinal"
            style="
              position: absolute;
              margin-top: -54px;
              margin-left: 32%;
              width: 10%;
              --mat-protected-button-ripple-color: rgb(7 101 37) !important;
            "
          >
            Actualizar
          </button>
          <br />
          <br />
        </mat-card-actions>
      </div>
    </div>
    <div
      class="div-table"
      style="
        background-color: rgba(0, 0, 0, 0.179);
        width: 49.7%;
        height: 800px;
        max-height: 800px;
        border-radius: 12px;
      "
    >
      <div class="tabla-dataPRUEBA">
        <app-table
          [data]="listDriver"
          [columns]="tableColumns.columns"
          [config]="tableConfig"
          (action)="onTableAction($event)"
        ></app-table>
      </div>
    </div>
  </div>
</main>
