<main>
  <div class="ContainerDivs">
    <!-- Tarjeta de formulario -->
    <div class="CardSerch">
      <!-- Header -->
      <div class="headerCard">
        Conductores
        <mat-icon (click)="consultarDriver(0)" class="button-search">
          add_circle_outline
        </mat-icon>
      </div>

      <!-- Body -->
      <div class="bodyCard">
        <!-- Nombre -->
        <div class="renglon">
          <app-auto-complete
            class="input-full"
            [text]="'Nombres'"
            [info]="Driver.name"
            (data)="Driver.name = $event"
            className="brand"
            required
            pattern="[a-zA-Z0-9 ]*"
          ></app-auto-complete>
        </div>

        <!-- Apellidos -->
        <div class="renglon">
          <app-auto-complete
            class="input-half"
            [text]="'Apellido Paterno'"
            [info]="Driver.lm1"
            (data)="Driver.lm1 = $event"
            className="brand"
          ></app-auto-complete>

          <app-auto-complete
            class="input-half"
            [text]="'Apellido Materno'"
            [info]="Driver.lm2"
            (data)="Driver.lm2 = $event"
            className="brand"
          ></app-auto-complete>
        </div>

        <!-- Contraseña / Teléfono / Colonia -->
        <div class="renglon">
          <app-auto-complete
            class="input-half"
            [text]="'Contraseña'"
            [info]="Driver.password"
            (data)="Driver.password = $event"
            className="brand"
          ></app-auto-complete>

          <app-auto-complete
            class="input-small"
            [text]="'Telefono'"
            [info]="Driver.phone"
            (data)="Driver.phone = $event"
            className="brand"
          ></app-auto-complete>

          <app-auto-complete
            class="input-third"
            [text]="'Colonia'"
            [info]="Driver.settlementS"
            [arrays]="settlementName"
            (data)="guardarDireccion($event)"
            className="brand"
          ></app-auto-complete>
        </div>

        <!-- Calles -->
        <div class="renglon">
          <app-auto-complete
            class="input-third"
            [text]="'Calle principal'"
            [info]="Driver.street1"
            [arrays]="streetName"
            (data)="guardarStreet($event, 1)"
            className="brand"
          ></app-auto-complete>

          <app-auto-complete
            class="input-third"
            [text]="'Entre la calle'"
            [info]="Driver.street2"
            [arrays]="streetName"
            (data)="guardarStreet($event, 2)"
            className="brand"
          ></app-auto-complete>

          <app-auto-complete
            class="input-third"
            [text]="'y la Calle'"
            [info]="Driver.street3"
            [arrays]="streetName"
            (data)="guardarStreet($event, 3)"
            className="brand"
          ></app-auto-complete>
        </div>

        <!-- Administrador -->
        <div class="renglon">
          <app-auto-complete
            class="input-full"
            [text]="'Administrador'"
            [info]="Driver.adminName"
            [arrays]="adminsName"
            (data)="guardarAdmin($event)"
            className="brand"
          ></app-auto-complete>
        </div>

        <!-- Status / Número de casa / Pago de ingreso -->
        <div class="renglon">
          <app-auto-complete
            class="input-half"
            [text]="'Status'"
            [arrays]="statusName"
            [info]="Driver.statusS"
            (data)="guardarStatus($event)"
            className="brand"
          ></app-auto-complete>

          <app-auto-complete
            class="input-small"
            [text]="'Número de casa'"
            [info]="Driver.extNumber"
            (data)="Driver.extNumber = $event"
            className="brand"
          ></app-auto-complete>

          <app-auto-complete
            class="input-third"
            [text]="'Pago de ingreso'"
            [info]="Driver.ingressPay"
            (data)="Driver.ingressPay = $event"
            className="brand"
          ></app-auto-complete>
        </div>

        <!-- Fechas -->
        <div class="renglon">
          <app-datepicker-date
            class="input-half"
            [isDisabled]="false"
            [actualDate]="Driver.birth"
            (date)="Driver.birth = $event"
            [text]="'Fecha de nacimiento'"
            className="brand"
          ></app-datepicker-date>

          <app-datepicker-date
            class="input-half"
            [isDisabled]="false"
            [actualDate]="Driver.licenseEx"
            (date)="Driver.licenseEx = $event"
            [text]="'Vencimiento de licencia'"
            className="brand"
          ></app-datepicker-date>
        </div>

        <div class="renglon">
          <app-datepicker-date
            class="input-half"
            [isDisabled]="true"
            [actualDate]="Driver.hireDate"
            [text]="'Fecha de ingreso'"
            className="brand"
          ></app-datepicker-date>

          <app-datepicker-date
            class="input-half"
            [isDisabled]="true"
            [actualDate]="Driver.lastModD"
            [text]="'Fecha de última modificación'"
            className="brand"
          ></app-datepicker-date>
        </div>

        <!-- Contacto -->
        <app-contact-dialog
          [arraySt]="streets"
          [arrayCol]="settlements"
          [streetName]="streetName"
          [settlementName]="settlementName"
          [idContact]="Driver.contactDrivers"
          className="brand"
        ></app-contact-dialog>
      </div>

      <!-- Footer -->
      <div class="footerCard">
        <mat-divider></mat-divider>
        <mat-card-actions class="actions">
          <app-yes-no-dialog
            (data)="eliminarDialog(Driver.id)"
            [title]="'Borrar conductor'"
            [text]="'Borrar el registro del conductor'"
            [name]="nombreCompleto"
            [IconButton]="false"
          ></app-yes-no-dialog>
        </mat-card-actions>

        <mat-card-actions class="actions">
          <button
            mat-raised-button
            (click)="grabar()"
            *ngIf="ActSave"
            color="primary"
            class="text-button-greenFinal"
          >
            Guardar
          </button>

          <button
            mat-raised-button
            color="primary"
            (click)="actualizar()"
            *ngIf="!ActSave"
            class="text-button-greenFinal"
          >
            Actualizar
          </button>
        </mat-card-actions>
      </div>
    </div>

    <!-- Tabla -->
    <div class="div-table">
      <div class="tabla-dataPRUEBA">
        <app-table
          [data]="listDriver"
          [columns]="tableColumns.columns"
          [config]="tableConfig"
          (action)="onTableAction($event)"
        ></app-table>
      </div>
    </div>
  </div>
</main>
