<!DOCTYPE html>
<!-- {{ actualDate }} -->
<!-- <mat-form-field class="example-full-width" style="width: 100%">
  <mat-label>{{ text }} </mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    (dateChange)="ChangeDate($event)"
    (ngModel)="ChangeDate($event)"
    style="width: 500px"
    [value]="actualDate"
    [disabled]="isDisabled"
  />
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
</mat-form-field> -->

<mat-form-field class="example-full-width" style="width: 100%">
  <mat-label>{{ text }} </mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [(ngModel)]="actualDate"
    (ngModelChange)="ChangeDate($event)"
    [disabled]="isDisabled"
  />
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
</mat-form-field>
