.kpis-row {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 1.3rem;
  margin-top:1rem;
  flex-wrap: wrap;
}

.kpi-card {
  background: rgba(99, 89, 89, 0.85); /* similar al carrusel */
  color: #e0f2f1;
  border-radius: 12px;
  padding: 16px;
  width: 260px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.kpi-top {
  display: flex;
  align-items: center;
  gap: 12px;
}

.kpi-icon {
    font-size: 40px;
    color: #4caf50;
    border: none !important;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.kpi-title {
  font-weight: 600;
  font-size: 1rem;
  color: #cfeee0;
}

.kpi-value {
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 6px;
}

.kpi-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.95rem;
}

.percent.pos {
  color: #4caf50;
  font-weight: 700;
}

.percent.neg {
  color: #f44336;
  font-weight: 700;
}


/************ Transiciones generales*/
*,
*::before,
*::after {
  transition: all 0.3s ease;
}
.kpi-card:hover {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.nav-button:hover {
  background-color: rgba(246, 0, 0, 0.3);
}

@media (max-width: 575px) {
  .kpis-row {
    align-items: flex-end;
    flex-direction: column;
  }
  .kpi-card {                                 
    background: rgba(99, 89, 89, 0.85); /* similar al carrusel */
    color: #e0f2f1;
    border-radius: 12px;
    padding: 16px;
    width: 215px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}