.dialog-actions {
  display: flex;
      justify-content: flex-end;
      gap: 16px;
      margin-top: 16px;
      flex-direction: row;
      flex-wrap: nowrap;
}

/* Botón rojo */
.text-button-redFinal {
  background-color: #c62828 !important;
  color: #fff !important;
  border-radius: 8px;
  min-width: 120px;
  height: 40px;
  font-weight: 500;
}
.text-button-redFinal:hover {
  background-color: #b71c1c !important;
}

/* Botón verde */
.text-button-greenFinal {
  background-color: #2e7d32 !important;
  color: #fff !important;
  border-radius: 8px;
  min-width: 120px;
  height: 40px;
  font-weight: 500;
}
.text-button-greenFinal:hover {
  background-color: #1b5e20 !important;
}

