.dialog-actions {
  display: flex;
  justify-content: space-around;
  gap: 16px;

  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

h1{
margin: 0;

}
/* Botón rojo */
.text-button-redFinal {
  background-color: #bf2020 !important;
  color: #fff !important;
  width: 120px !important;
  height: 3rem !important;
  font-weight: 500;
}
.text-button-redFinal:hover {
  background-color: #b71c1c !important;
}

/* Botón verde */
.text-button-greenFinal {
  background-color: #2e7d32 !important;
  color: #fff !important;
  border-radius: 8px;
  min-width: 120px;
  height: 3rem !important;
  font-weight: 500;
}
.text-button-greenFinal:hover {
  background-color: #1b5e20 !important;
}
.mat-mdc-dialog-content.mdc-dialog__content {
  padding-top: 0;
  padding-bottom: 0 !important;
  height: fit-content;
}
mat-dialog-content {
  padding-bottom: 0%;
  height: fit-content;
}
@media (max-width: 600px) {
  .text-button-greenFinal {
    width: 100%;
    margin-left: 0 !important;
    height: 3rem !important;
  }

  .text-button-redFinal {
    width: 100% !important;
    height: 3rem !important;
  }
  .dialog-actions {
    flex-direction: column-reverse;
    margin: 6% 5% 3% 5%;
  }
}
