<!DOCTYPE html>
<h1 mat-dialog-title>
   {{(title === '') ? "Borrar el registro" : title}}
</h1>
<div mat-dialog-content>
  {{(contentDialog === '') ? "¿Desea borrar a "+" " + nameObj+"?" :
  contentDialog +" "+ "\n" + nameObj}}
  <br />
</div>
<div mat-dialog-actions>
  <div style="position: absolute">
    <br />
    <button
      mat-raised-button
      mat-dialog-close
      color="primary"
      style="margin-bottom: 12px"
      class="text-button-redFinal"
    >
      Cancelar
    </button>
  </div>
    <button
      mat-raised-button
      mat-dialog-close
      color="primary"
      (click)="ChangeName()"
      class="text-button-greenFinal"
      style="
        position: absolute;
        margin-top: -27px;
        margin-left: 55%;
        width: 38% !important;
        height: 46px !important;
        --mat-protected-button-ripple-color: rgb(7 101 37) !important;
      "
    >
      Continuar
    </button>
  </div>