<!DOCTYPE html>
<mat-form-field appearance="outline" class="full-width">
      <mat-label>Rango meses</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Inicio (MM/YYYY)">
        <input matEndDate formControlName="end" placeholder="Fin (MM/YYYY)">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker startView="multi-year" touchUi></mat-date-range-picker>
    </mat-form-field>
    <button mat-raised-button (click)="apply()">Aplicar</button>